.adviceContainer {
  width: 12.25rem;
  height: 11.21rem;
  background-color: var(--blue900);
  border-radius: 0.35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 0.85rem;

  @media only screen and (min-width: 1440px) {
    width: 19.28rem;
    height: 11.85rem;
    padding: 0 1.714rem;
  }
}
.adviceTitle {
  color: var(--green300);
  font-size: 0.46rem;
  font-weight: 800;
  line-height: 135%;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  margin-top: 1.4rem;
  margin-bottom: 0.57rem;
  @media only screen and (min-width: 1440px) {
    margin-bottom: 0.85rem;
  }
}
.adviceText {
  font-size: 0.85rem;
  color: var(--blue200);
  line-height: 135%;
  letter-spacing: -0.3px;
  text-align: center;
  font-weight: 800;
  @media only screen and (min-width: 1440px) {
    font-size: 1rem;
  }
}
.loadText {
  font-size: 0.46rem;
  color: var(--blue200);
  line-height: 135%;
  letter-spacing: 0.14rem;
  text-align: center;
  font-weight: 700;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: uppercase;
  span {
    color: var(--green300);
    font-size: 1.7rem;
  }
}
.desktopDivider {
  display: none;
  @media only screen and (min-width: 1440px) {
    display: block;
    position: absolute;
    top: 8.71rem;
  }
}
.mobileDivider {
  position: absolute;
  top: 8.35rem;
  @media only screen and (min-width: 1440px) {
    display: none;
  }
}
.diceBtn {
  width: 2.28rem;
  height: 2.28rem;
  border-radius: 1.14rem;
  border: none;
  background-color: var(--green300);
  position: absolute;
  top: 10.07rem;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 1.42rem var(--green300);
  }
  @media only screen and (min-width: 1440px) {
    top: 10.71rem;
  }
}
.diceIcon {
  width: 0.85rem;
  height: 0.85rem;
}
