@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --blue600: #4f5d74;
  --blue900: #313a48;
  --blue950: #202733;
  --blue200: #cee3e9;
  --green300: #53ffaa;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: manrope;
  font-size: 28px;
}

body {
  background-color: var(--blue950);
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
